{% extends "base.html" %}


{% block extrahead %}
	<script src="{{ url_for('static', filename='zepto.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='create.js') }}" type="text/javascript"></script>
{% endblock %}


{% block content %}
	<h1>Poll create</h1>

	<form method="POST" action="">
		{{ form.csrf_token }}
		<div class="field">
			{{ form.question.label }}
			{{ form.question(size=20) }}
			{% if form.question.errors %}
				<ul class="errors">
					{% for error in form.question.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div class="field">
			{{ form.choices.label }}
			<ul id="choices">
				{% for f in form.choices %}
					<li>
						{{ f() }}

						{% if f.errors %}
							<ul class="errors">
								{% for error in f.errors %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
		<button type="submit">Create</button>
	</form>
{% endblock %}
